<!DOCTYPE html>
<html>

<head>

<title>Ettuthogai Poem Analysis</title>
<link rel="stylesheet" href="/static/style.css">

</head>

<body>

<h1>Ettuthogai Poem Analysis</h1>

<form method="POST">

<textarea name="poem" rows="6"></textarea>

<br><br>

<button type="submit">Analyze</button>

</form>


{% if poem %}

<h2>Input Poem</h2>

<p class="poem">{{poem}}</p>

{% endif %}


{% if output %}

<h2>Poem Type</h2>

<p>{{output.classification}}</p>


{% if output.classification == "ETTUTHOGAI" %}

<h2>Poem Details</h2>

<table>

<tr>
<td><b>Poem Number</b></td>
<td>{{output.metadata.poem_number}}</td>
</tr>

<tr>
<td><b>Book</b></td>
<td>{{output.metadata.book}}</td>
</tr>

<tr>
<td><b>Poet (Tamil)</b></td>
<td>{{output.metadata.poet_tamil}}</td>
</tr>

<tr>
<td><b>Poet (English)</b></td>
<td>{{output.metadata.poet_english}}</td>
</tr>

<tr>
<td><b>Category</b></td>
<td>{{output.metadata.category}}</td>
</tr>

<tr>
<td><b>Tinai</b></td>
<td>{{output.metadata.tinai}}</td>
</tr>

</table>


<h2>Entities</h2>

<table>

<tr>
<th>Word</th>
<th>Entity</th>
<th>Explanation</th>
</tr>

{% for e in output.entities %}

<tr>
<td>{{e.word}}</td>
<td>{{e.entity}}</td>
<td>{{e.explanation}}</td>
</tr>

{% endfor %}

</table>


<h2>Entity Frequency</h2>

<table>

<tr>
<th>Entity</th>
<th>Count</th>
</tr>

{% for key,value in output.statistics.items() %}

<tr>
<td>{{key}}</td>
<td>{{value}}</td>
</tr>

{% endfor %}

</table>


<h2>Meaning</h2>

<p style="white-space:pre-line">{{output.meaning}}</p>

{% endif %}

{% endif %}

</body>
</html>